* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

resources/assets/**/*.js linguist-documentation
resources/assets/**/*.css linguist-documentation
public/**/*.js linguist-vendored
public/**/*.css linguist-vendored
node_modules/** linguist-vendored
vendor/** linguist-vendored

public/assets/front/js/tinymce/** linguist-vendored
public/assets/** linguist-vendored
public/uploads/** linguist-vendored

*.php linguist-detectable=true
*.blade.php linguist-detectable=true
